In [3]:
#LET4S CREATE THIS DATAFRAME
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
import pandas as pd
df=pd.DataFrame(exam_data,labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
#Let's Print the three first rows using head() method
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [15]:
#Let's Delete rows with Nan values
df.drop(["d"], inplace = True)
df.drop(["h"], inplace = True)
print(df)

        name  score  attempts qualify
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [18]:
#Let's Extract the 'name' and 'score' columns from the DataFrame.

print(df[["name","score"]])

        name  score
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [39]:
#Let's Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")
new_row={"name" : ["Suresh"], "score": [15.5], "attempts": [1], "qualify": ["yes"]}
import pandas as pd
data=pd.DataFrame(new_row, index=["k"])

df=pd.concat([df,data])
print(df)

        name  score qualify  attempts
0       Dima    9.0      no       NaN
1  Katherine   16.5     yes       NaN
2      Emily    9.0      no       NaN
3    Michael   20.0     yes       NaN
4    Matthew   14.5     yes       NaN
5      Kevin    8.0      no       NaN
6      Jonas   19.0     yes       NaN
7     Suresh   15.5     yes       NaN
k     Suresh   15.5     yes       NaN
k     Suresh   15.5     yes       1.0

In [37]:
# Let's Write a Pandas program to delete the 'attempts' column from the DataFrame.
df.drop("attempts", axis=1,inplace=True)
print(df)

KeyError: ignored

In [38]:
#Let's Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0

df=df.assign(success=[0,1,0,1,1,0,1,1])
print(df)

        name  score qualify
0       Dima    9.0      no
1  Katherine   16.5     yes
2      Emily    9.0      no
3    Michael   20.0     yes
4    Matthew   14.5     yes
5      Kevin    8.0      no
6      Jonas   19.0     yes
7     Suresh   15.5     yes
k     Suresh   15.5     yes

In [ ]:
#let's export it into csv file named "my_data"
df.to_csv("df.csv")
new_df=pd.read_csv("dt.csv")